

  <div class='navbar navbar-default'>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li><a [routerLink]="['home']"><span class="glyphicon glyphicon-th-large"></span>Dashboard</a></li>

        <li><a [routerLink]="['GroupAdd']"><span class="glyphicon glyphicon-plus"></span> Group</a></li>

        <!--<ul class='nav navbar-nav'>
    <li *ngFor='let group of groups'>
      <a><span class="glyphicon glyphicon-user"></span>{{group.groupName}}</a>
    </li>
  </ul>-->
        <li>
          <ul type="none" class="vertical-menu">
            <li *ngFor='let group of groups'>
              <a [routerLink]="['group/',group.groupId]" style="padding:4px 14px;"><span class="glyphicon glyphicon-user"></span>{{group.groupName}}</a>
            </li>
          </ul>
        </li>
        <li data-toggle="modal" data-target="#FriendModal"><a> <span class="glyphicon glyphicon-plus"></span>Friends</a></li>

        <!-- Modal -->
        <div class="modal fade" id="FriendModal" role="dialog">
          <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Friend</h4>
              </div>
              <div class="modal-body">

                <form #form="ngForm" >
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="userName" type="text" class="form-control" name="userName" placeholder="UserName" [(ngModel)]="FriendName" required>
                  </div>
                  <br />
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="email" type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="FriendEmail" required>
                  </div>
                  <div class="input-group" >
                    <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="addFriend()" data-dismiss="modal"  style="margin-top:10px;margin-left:210px;" >Save</button>
                  </div>

                </form>

              </div>
              <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>-->
            </div>

          </div>
        </div>

        <!--modal close-->

        <li>
          <ul type="none" class="vertical-menu">
            <li *ngFor='let friend of friends'>
              <a [routerLink]="['friend/',friend.userId]" routerLinkActive="router-link-active" style="padding:4px 14px;"><span class="glyphicon glyphicon-user"></span>{{friend.userName}}</a>
            </li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>



